circle {
        stroke-width: 20px;

}
#gaugeTemperatureAndHumiditySensor > div > div > div > label{
font-size: 30px
}



/*#undefined-parent > div.jsx-4017309047.tab-content > div > div:nth-child(2){
height : 400px;
border-style : solid;
border-color : blue;
}*/



/*#gaugeHighAccuracySensor > div > div > div{
top : 200px;
height : 250px;
border-style : solid;
border-color : green;

}*/

#gaugeHighAccuracySensor > div > div > div > label{
/*top : 20px;
height:70px;
width:90px;*/
font-size: 30px
/*overflow-wrap: break-word;*/


 /* word-wrap: break-word;
 /* hyphens: auto;*/

 /*display: inline-block;
 border-style : solid;
 border-color : red;*/
}
#lumenGauge > div > div > div > label{
font-size: 25px

}

#gaugeTemperatureAndHumiditySensor > div > div > div{
top: 20%;
}
#gaugeTemperatureAndHumiditySensor > div > div > div

#lumenGauge> div > div > div > label{
font-size: 30px
}

#ultravioletGauge> div > div > div > label{
font-size: 30px
}

#IlluminanceGauge> div > div > div > label{
font-size: 30px
}

#humidityGauge> div > div > div > label{
font-size: 30px
}
#TotalVoletileOrganicCompoundsGauge> div > div > div > label{
font-size: 30px
}
#detsibellGauge> div > div > div > label{
font-size: 30px
}

#CarbonDioxideEquivalentCO2Gauge> div > div > div > label{
font-size: 30px
}

#PirOn> div > div > div > label{
font-size: 30px
}





units{
font-size: 30px
}
/*Div{
border-style: solid;
  border-color: blue;
}*/





